<!DOCTYPE html>
<html>
<head>
	<title>Pokemon</title>
<style type="text/css">
body {
  color: blanchedalmond;
  background-color: steelblue;
}
</style>
</head>
<body>
	<h1>Gotta Catch 'Em All</h1>
	<h2><%=pokemon.name%></h2>
	<img src="<%=pokemon.img%>"><br/>
	<a href="/pokemon">Back</a>
</body>
</html>