<!DOCTYPE html>
<html>
<head>
	<title>Pokemon</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>Gotta Catch 'Em All</h1>
	<h2><%=pokemon.name%></h2>
	<img src="<%=pokemon.img%>"><br/>
	<a href="/pokemon/<%=id%>/edit">EDIT</a>
	<form method="POST" action="/pokemon/<%=id%>?_method=DELETE">
			<input type="submit" value="DELETE">
		</form>
	<a href="/pokemon" class="button">Back</a>

</body>
</html>