body {
  color: blanchedalmond;
  background-color: steelblue;
  text-align: center;
  line-height: 30px;

}

ul {
	list-style-type: none;
}
img {
	border: 2px solid gold;
	border-radius: 5%

}
li{
	font-size: 25px;
}
a {
	display: block;
	text-decoration: none;
	color: ;
	font-size: 15px;
	width: 160px;
	margin: 0 auto;
	border: 2px solid gold;
	background-color: blanchedalmond;
	margin-top: 15px;
	margin-bottom: 15px;
	color: steelblue;
}
h1{
	font-size: 45px;
	margin-bottom: 40px;
}
h2 {

}

.button {
	background-color: blanchedalmond;
	color: steelblue;
	border: 2px solid gold;
	padding: 2px 6px;
	width: 40px;
	margin: 0 auto;
	margin-top: 20px;
}