<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Edit Your Pokething!</h1>
	<form method="POST" action="/pokemon/<%= id %>?_method=PUT">
		
		Name: <input type="text" value="<%=pokemon.name%>"/><br/>
		PokeImage URL: <input type="text" value="<%=pokemon.img%>"/><br/>

		<br/>
			<form >
				<input type="submit" name="" value="Submit Changes"/>
        	</form>

	</form>




</body>
</html>