<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

	<title></title>
</head>
<body>
	<h1>See All The Pokemon!</h1>

	<style type="text/css">
		body {
			color: blanchedalmond;
			background-color: steelblue;
		}
		h1 {
			font-family: 'Luckiest Guy', cursive;
		}
	</style>



</body>
</html>