<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
	<title></title>
<!-- 	<style type="text/css">
		body {
			color: blanchedalmond;
			background-color: steelblue;
			font-family: 'Gaegu', cursive;
		}
	</style> -->
</head>
<body>
	<h1>See All The Pokemon!</h1>
	<ul>
		<% for(let i = 0; i < pokemon.length; i++) { %>
				<a href="/pokemon/<%= i %>"><li><%= pokemon[i].name %></li></a>
		<% } %>
	</ul>
</body>
</html>