<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>See All The Pokemon
		<style type="text/css">
			body {
  			color: blanchedalmond;
  			background-color: steelblue;
			}
		</style>
	</h1>


</body>
</html>