<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>See All The Pokemon</h1>
		<style type="text/css">
			body {
  			color: blanchedalmond;
  			background-color: steelblue;
  			text-align: center;
  			margin-top: 100px;
  			}
		</style>
	
	<ul style ="list-style-type: none;">
		 <% for(let i = 0; i < pokemonList.length; i++) { %>
		 <li><h3> <a href="/pokemon/<%=i%>"> <%= pokemonList[i].name %></a></h3>
		 	<form method= "POST" action="/pokemon/<%=i%>?_method=DELETE">
		 	<input type="submit">
		 	</form>
		 		<a href="/pokemon/<%=i%>/edit">Edit</a>
		 </li>


  		<% } %>
  	</ul>
  	<nav>
  		 <a href="/pokemon/new">Create a New Pokemon</a>
  	</nav>
	

</body>
</html>