<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
	<style type="text/css">
		body {
		  color: blanchedalmond;
		  background-color: steelblue;
		  font-family: 'Neucha', cursive;	
		  font-size: 60px;
		}
	</style>
	<title>POKÉMON</title>
</head>
<body>
	<h1>Pokédex</h1>

	<ul>
		<% for(let i = 0; i < pokemonList.length; i++){ %>
			<a href="/Pokemon/<%=i%>"><li><%=pokemonList[i].name%></li></a>
		<% } %>
	</ul>
</body>
</html>