<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>POKÉMON</title>
</head>
<header>
	<div>
	<h1>Pokédex</h1>
		<ul>
			<% for(let i = 0; i < pokemonList.length; i++){ %>
				<a href="/Pokemon/<%=i%>"><li><%=pokemonList[i].name%></li></a>
			<% } %>
		</ul>
	</div>
</header>
<body>
</body>
</html>