<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>
		
	</title>
</head>
<body class="new">
	<h1>Add A Pokémon!</h1>

	<form action="/pokemon" method="POST">
	Name: <input type="text" name="name"><br/>
	Image: <input type="text" name="img"><br/>
	<input type="submit">
	</form>

</body>
</html>