<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Gonna Catch 'Em All
		<style type="text/css">
			body {
  			color: blanchedalmond;
  			background-color: steelblue;
			}
		</style>
	</h1>
	<h2><%= pokemonList.name %> </h2> 
	<img src="<%=pokemonList.img%>">
	<h3><a href="/pokemon">Back</a></h3>

  
	

</body>
</html>