<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body {
  			color: blanchedalmond;
 			 background-color: steelblue;
			}
	</style>
</head>
<body>
	<h1>Gotta Catch 'em All!  Yay!!!  Super-Happy-Fun-Time!!!!</h1>

	<h2>Pokemon name: <%= pokemon.name %></h2>
	
	<img src="<%= pokemon.img %>">

	<a href="/pokemon">PokeHome</a>

</body>
</html>