<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles.css">

    <!-- <style type="text/css">
    body {
      color: blanchedalmond;
      background-color: steelblue;
    }
    </style> -->
  </head>
  <body>
    <h2><%=pokemon.name%></h2>
    <img src="<%=pokemon.img%>">
    <a href="/pokemon/index"><h2>Back</h2></a>

  </body>
</html>
