<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style.css">
	<title></title>
</head>
<body>
	<h1>Gotta Catch 'Em All</h1>

	

	<ul>
		
		 <%for(let i = 0; i < pokemon.length; i++){%>
		 	<li><a href='/pokemon/<%=i%>'><%=pokemon[i].name%>
		 	</a>
			<h2><%=pokemon[i].name%>
				<img src=<%=pokemon[i].img%>>
			</h2>

			<a href=<%"/pokemon/index.ejs"%>>Index Page</a>

		 </li>
		<%}%>
		
	


	</ul>






	<!-- <style type="text/css">
		body {
			color: blanchedalmond;
			background-color: steelblue;
		}
		h1 {
			font-family: 'Luckiest Guy', cursive;
		}
	</style> -->



</body>
</html>