<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style type="text/css">
        body{
        	color: blanchedalmond;
        	background-color: steelblue;
        	}
        </style>
    </head>
    <body>
        <h1>Gotta Catch 'Em All</h1>

        <h2><%=Pokemon.name%></h2>

        <img src="<%=Pokemon.img%>">

        <a href="/pokemon">back</a>


    </body>
</html>