<!DOCTYPE html>
<html>
    <head>
        <title></title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <h1>Gotta Catch 'Em All</h1>

        <h2><%=Pokemon.name%></h2>

        <img src="<%=Pokemon.img%>">

        <a href="/pokemon">back</a>


    </body>
</html>