<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>pokemonV2-show/DavidEpps.GA</title>
    <link rel="stylesheet" href="/css/style.css">
    
  </head>
  <body>
  	
  	<h1>Gotta Catch 'Em All!</h1>
  	<h2>Name: <%= pokemon.name %></h2>
  	<img src="<%=pokemon.img%>" background=transparent alt="<%=pokemon.name%>" height=400 width=400>
  	<a href="/pokemon" >Return</a>
  </body>
</html>