<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	
		<style type="text/css">
			body {
			margin-top: 70px;
  			color: blanchedalmond;
  			background-color: steelblue;
  			text-align: center;
  			text-decoration: none;
  			justify-content: center;
			}
		</style>
		
	<h1>Gonna Catch 'Em All</h1>
	<h2><%=pokemonList.name%></h2> 
	<img src="<%=pokemonList.img%>">
	<h3><a href="/pokemon" style="text-decoration: none;">Back</a></h3>

  
	

</body>
</html>