<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1>Gotta Catch 'em All!  Yay!!!  Super-Happy-Fun-Time!!!!</h1>

	<h2>Pokemon name: <%= pokemon.name %></h2>
	
	<img src="<%= pokemon.img %>"><br/>

	<a href="/pokemon">PokeHome</a><br/>

	<a href="/pokemon/:id/edit">Edit The Thing</a>



</body>
</html>